---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Hi I'm Rubén and this a blog to share info."
	pubDate={new Date('April 01 2024')}
	heroImage="/personal-blog/imgs/about-me.jpg"
>

	<h2>Hi I'm Rubén and this a blog to share info.</h2>

	<ul>
		<li>Passionate about #Java & #Kotlin programming! </li>
		<li>💻 DevOps enthusiast with a love for all things tech.</li>
		<li>Let's code, automate, and innovate together! #TechEnthusiast #DevOps.</li>
	</ul>
</Layout>
